



<table class="table table-striped"> 
<thead> 
<tr> 
<th>Name</th> 
<th>Price</th>
<th>Quantity</th> 
</tr> 
</thead> 
<tbody> 


<%client_details = ""%>
<%total_price = 0%>
<%total_qty = 0%>
<%@id_and_number_of_products.each do |k, v|%>

	<%total_price += @product.find(k).price * v.to_i%>
	<%total_qty += v.to_i %>

	<%client_details += @product.find(k).title + " - " +  @product.find(k).price.to_s + " Lei: " + v + "\n"%>

<tr> 
<td><%=@product.find(k).title%></td> 
 <td><%=@product.find(k).price%></td>
 
<td><%=v%></td> 
</tr> 
<%end%>

<td></td>
<td><strong>Total Price: <%=total_price%> Lei</strong></td>
<td><strong>Total: <%=total_qty%></strong></td>
</tbody> 
</table>


<div class="col-md-4">

<form action="/send_order" method="POST"  role="form" >
<div class="form-group">
    <label>Name</label>
    <input type="text" name='client[name]' class="form-control"  placeholder="Jane Doe" value="" >
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input type="text" name='client[phone]' class="form-control"  placeholder="079 515151" value="">
  </div>
<p></p>
  <div class="form-grup">
		  <label>Adress</label>
		  <textarea type="text" name='client[phone]' class="form-control"  placeholder="Street, block, ap." > </textarea>
		  <textarea type="text" name='client[order]' class="form-control"  value="<%=client_details%> Total Price: <%=total_price%> Lei" > </textarea>
</div>	 
  <p></p>
<div class="form-group">
	<button type="submit" class="btn btn-primary btn-lg btn-block" >Send order</button>
</div>

  

</form>
</div>

