


<div class="row">
  <div class="col-md-12">

<table class="table table-striped"> 
<thead> 
<tr> 

<th>Name</th> 
<th>Price</th>
<th>Quantity</th> 
</tr> 
</thead> 
<tbody> 

<%total_price = 0%>
<%total_qty = 0%>
<%@id_and_number_of_products.each do |k, v|%>

	<%total_price += @product.find(k).price * v.to_i%>
	<%total_qty += v.to_i %>

<tr> 
<td><%=@product.find(k).title%></td> 
 <td><%=@product.find(k).price%></td>
 
<td><%=v%></td> 
</tr> 
<%end%>
<td></td>
<td><strong>Total Price: <%=total_price%> Lei</strong></td>
<td><strong>Total: <%=total_qty%></strong></td>


</tbody> 
</table>
 </div>
</div>